NEXT_PUBLIC_SUPABASE_URL=https://bvjpashuqrcpqmicdkaf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ2anBhc2h1cXJjcHFtaWNka2FmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NjgyNDQsImV4cCI6MjA5MTI0NDI0NH0.EZ3n0F3MaN7r1j7rKMFlNJaV4dm7tiB5e2PfnSaiqzU
NEXT_PUBLIC_APP_NAME=StyleFlow
